<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5">Delete Event</h1>
  <p>Are you sure you want to delete the event: <span th:text="${event.eventName}"></span>?</p>
  <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" href="/events/getallevents">Cancel</a>
  </form>
</div>
</body>
</html>
