<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Module</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Delete Module</h1>
    <p>Are you sure you want to delete the module: <span th:text="${module.moduleName}"></span>?</p>
    <form th:action="@{/modules/delete/{id}(id=${module.id})}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" href="/modules/getallmodules">Cancel</a>
    </form>
</div>
</body>
</html>
